<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel Planner</title>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
  </style>
<link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@100;500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="styles.scss">
</head>
<div class ="holderheadline">
    Your Travel Planner
  </div>
 <body>
  <div class ="chooseTrip">
    <label for="myTrip"> CHOOSE YOUR TRIP</label>
    <div class="inline"><input type="text" id="place" placeholder="I want to go to..."></div>
    <label class="inline" for="start">Start date:</label>
<input type="date" id="start" name="trip-start"
       value="2020-10-01"
       min="2018-01-01" max="2030-12-31">
    <div class="inline"><button class="inline" id="generate" type = "submit"> Send my trip </button></div>
  </div>
    <div class ="holder feel">
    <label for="feelings">My trip </label>
    <!-- <textarea class= "myInput" id="myTrip" placeholder="Enter your feelings here" rows="9" cols="50"></textarea> -->
    <div class = resumTrip>
      <div id="imageReceived"></div>
      <div id="resume">
        <div id = "placeGenerate">
          My trip To :
        </div> 
        <div id = "dateGenerate"></div>
        <!-- Departing in :  -->
        <div id = "responseS"></div>
        <div class = "countdown"></div>
        <div id = "entryHolder">
     Typicalweather for then is:
  </div>
        <div class="inline"><button type = "submit"> Save Trip </button></div>
        <div class="inline"><button type = "submit"> Remove Trip </button></div>
      </div>
    </div>
  </div>

   
  <!-- </div> -->
<script src="app.js" type="text/javascript"></script>

</body>
</html>