body{
    background: rgb(208, 232, 227);
    font-family: 'Architects Daughter', cursive;
    margin: 100px;
    margin-top:30px;
}
#imageReceived{
    padding: auto ;
    text-align: center;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

button:hover{
    background-color: rgb(199, 250, 239);
    color:rgb(45, 79, 71);
    border-radius: 10px;
} 

#weather-icon.img{
    size: 60px;
}
img{
    width: 300px;
    text-align: center;
}
#resume{
    border: 4px double black;
    font-family: 'Architects Daughter', cursive;
    padding: 10px;
    font-size: 27px;
    text-align: center;

}
.resumTrip{
    display: grid;
    grid-template-columns: 400px auto;
    grid-gap: 10px;
}

.inline{
    display: inline-block;
}
.entry{
    background: rgba(59, 74, 107, .4);
}

.holderheadline {
    text-align: center;;
    font-size: 60px;
    margin:20px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
    margin: 30px;
    margin-left:0px;
}

input{
    display:inline-block;
    height: 60px;
    width: 320px;
    background:rgb(250, 224, 205);
    color: #09053a;
    font-size: 20px;
    font-family: 'Architects Daughter', sans-serif;
    border: none;
}

button{
    width: 200px;
    height: 45px;
    background: #3a8085;
    color: #c3fbff;
    font-size: 26px;
    font-family: 'Architects Daughter', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin: 20px;
    border-radius: 10px;
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #3a8085;
    font-size: 20px;
    font-family: 'Architects Daughter', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { 
    color: #3a8085; 
    font-family: 'Piazzolla', serif;

} 
  
:-ms-input-placeholder { 
    color: #3a8085; 
    font-family: 'Piazzolla', serif;
} 
  
::-ms-input-placeholder { 
    color: #3a8085; 
    font-family: 'Piazzolla', serif;
}